.LeaderBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;

    .Caption {
        font-size: 5vw;
        font-weight: bolder;
    }
}